
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body class="bg-primary">
    <hgroup>
        <h1>Uh Oh!</h1>
        <h2>There was an error that occured while processing your request because the number of speeding tickets you declared was negative. Please return to the home page and try again.</h2>
    </hgroup>
</body>
</html>