################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/exercise 2 boolean comparison/.vs/exercise 2 boolean comparison/v15/Server/sqlite3/db.lock
/CS Exercise 3 while statements/.vs/CS Exercise 3 while statements/v15/Server/sqlite3/db.lock
/Exercise 4 string fucntions/.vs/Exercise 4 string fucntions/v15/Server/sqlite3/db.lock
/Exercise 5 Arrays and Lists/.vs/Exercise 5 Arrays and Lists/v15/Server/sqlite3/db.lock
/Exercise 6 Iterations/.vs/Exercise 6 Iterations/v15/Server/sqlite3/db.lock
/Exercise 7 exception handling/.vs/Exercise 7 exception handling/v15/Server/sqlite3/db.lock
/Exercise 8 Classes and Objects/.vs/Exercise 8 Classes and Objects/v15/Server/sqlite3/db.lock
/Exercise 9 methods expansion/.vs/Exercise 9 methods expansion/v15/Server/sqlite3/db.lock
/exercise 10 optional perameters/.vs/exercise 10 optional perameters/v15/Server/sqlite3/db.lock
/exercise 11 named perameters/.vs/exercise 11 named perameters/v15/Server/sqlite3
/Exercise 12 class methods and uses/.vs/Exercise 12 class methods and uses/v15/Server/sqlite3/db.lock
/Exercise 13 Inheritance/.vs/Exercise 13 Inheritance/v15/Server/sqlite3/db.lock
/Exercise 14 abstract classes/.vs/Exercise 14 abstract classes/v15/Server/sqlite3/db.lock
/Exercise 15 interface and polymorphism/.vs/Exercise 15 interface and polymorphism/v15/Server/sqlite3/db.lock
/Exercise 16 Overload opperators/.vs/Exercise 16 Overload opperators/v15/Server/sqlite3/db.lock
/Exercise 17 Generics/.vs/Exercise 17 Generics/v15/Server/sqlite3/db.lock
/Excercise 18 Enums/.vs/Excercise 18 Enums/v15/Server/sqlite3/db.lock
/Exercise 19 Structs/.vs/Exercise 19 Structs/v15/Server/sqlite3/db.lock
/Exercize 20 Lambda Expressions/.vs/Exercize 20 Lambda Expressions/v15/Server/sqlite3/db.lock
/Exercise 21 File IO/.vs/Exercise 21 File IO/v15/Server/sqlite3/db.lock
/Exercise 22 DateTime/.vs/Exercise 22 DateTime/v15/Server/sqlite3/db.lock
/Exercise 23 Extras/.vs/Exercise 23 Extras/v15/Server/sqlite3/db.lock
/Exercise 24 More on Exceptions/.vs/Exercise 24 More on Exceptions/v15/Server/sqlite3/db.lock
/.vs/insurancePracticum/v15/Server/sqlite3/db.lock
/Insurance practicum redo/.vs/insuranceRedo/v15/Server/sqlite3/db.lock
/insuranceRedo3/.vs/insuranceRedo3/v15/Server/sqlite3/db.lock
/InsuranceRedo5/.vs/carInsurance/v15/Server/sqlite3/db.lock
/insuranceRedo3/insuranceRedo3/App_Data/insuranceUhoh.mdf
/insuranceRedo3/insuranceRedo3/App_Data/insuranceUhoh_log.ldf
