################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/exercise 2 boolean comparison/.vs/exercise 2 boolean comparison/v15/Server/sqlite3/db.lock
/CS Exercise 3 while statements/.vs/CS Exercise 3 while statements/v15/Server/sqlite3/db.lock
/Exercise 4 string fucntions/.vs/Exercise 4 string fucntions/v15/Server/sqlite3/db.lock
/Exercise 5 Arrays and Lists/.vs/Exercise 5 Arrays and Lists/v15/Server/sqlite3/db.lock
