################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CS Excercise 1/.vs/CS Excercise 1/v15/Server/sqlite3/db.lock
