
@{
    ViewBag.Title = "Index";
}

@using insuranceRedo3.ViewModels
@model List<CustomerTableVm>


<div class="row no-gutters m-3" >

    <div class="col-lg-12 mx-auto shadow">

        <div class="card-header text-center  bg-primary">
            <h1 class="m-0>">Quotes issued</h1>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-2 m-2">
                    <h2>First Name</h2>
                </div>
                <div class="col-lg-2 m-2">
                    <h2>Last Name</h2>
                </div>
                <div class="col-lg-3 m-2">
                    <h2>Email Address</h2>
                </div>
                <div class="col-lg-3 m-2">
                    <h2>Quote</h2>
                </div>
            </div>
            @foreach (var CustomerTable in Model)
             {

                
                @*<input type="hidden" name="Id" value="@CustomerTable.Id" />*@
                <div class="row border-bottom">
                <div class="col-lg-2 m-2">
                    @CustomerTable.FirstName
                </div>
                <div class="col-lg-2 m-2">
                    @CustomerTable.LastName
                </div>
                <div class="col-lg-3 m-2">
                    @CustomerTable.EmailAddress
                </div>
                <div class="col-lg-3 m-2">
                 <p>$@CustomerTable.Quote /month</p>
                </div>

                </div>

             }

        </div>

    </div>

</div>