<!-- ko with: home -->

<div class="jumbotron bor1 text-center">
    <h1>Welcome Web Traveler. This is a very simple web application exemplifying the ease of knockout</h1>
    
    <h3 class="mt-4">Click the button to be shown Seattle's current weather.</h3>
    <p><a href="~/Home/WeatherOrNot" class="btn btn-primary btn-lg mt-5">What's the weather like?</a></p>
</div>

@*THIS IS WHAT IT LOOKS LIEK BEFORE APPLYING KO*@


@*<h1 id="fade">Weather</h1>

    <p id="city"></p>
    <p id="temp"></p>
    <p id="humidity"></p>

    <button>What's the weather like?</button>


    <script>

        //JSON ... Javascript Object Notation OBJECT

        $(document).ready(function () {
            $("button").click(function () {

                $.get("http://api.openweathermap.org/data/2.5/weather?q=Seattle&APPID=146a5211dc2b5bde5090dd0c3b7aa38e&units=imperial", function (response) {
                    //response
                    $("#city").text(response.name);
                    $("#temp").text(response.main.temp);
                    $("#humidity").text(response.main.humidity);

                    console.log(response);

                });
            });
        });



    </script>*@


<!-- /ko -->
<!--$("#fade").text("Hello  Joe!");

     $("button").click(function () {
            $("#fade").show();

        });


    -->
