
@{
    ViewBag.Title = "WeatherOrNot";
}

@*REMEMBER KNOCKOUT ALWAYS REQUIRES A NAME VALUE PAIR
    ex:
    data-bind = "name:value"
*@
<div class="jumbotron bor1 text-center bor3">
    <h1>Current Conditions in <span data-bind="text:name"></span></h1>
    <br />
    <br />

    <h5>The current temperature is <span data-bind="text:main.temp"></span>&deg; F</h5>
    <h5>Humidity is at <span data-bind="text:main.humidity"></span>&#37;</h5>
    <h5>The maximum temperature of the day is <span data-bind="text:main.temp_max"></span>&deg; F</h5>
    <h5>The minimum temperature of the day is <span data-bind="text:main.temp_min"></span>&deg; F</h5>

    <br />
    <h1>For an extra KO eample, click below</h1>
    <p><a href="NameGame" class="btn btn-primary btn-lg mt-5">Name Game</a></p>
</div>




<script>

    //JSON ... Javascript Object Notation OBJECT

    var weather = Object();
    $(document).ready(function () {
        $.get("@Url.Action("GetWeather","Home")", function (response) {
                //response
                console.log(response);
                //KNOCKOUT MAPING
                weather = ko.mapping.fromJS(response);
                ko.applyBindings(weather);
        });
    });


</script>

@*$("button").click(function () {*@