
@{
    ViewBag.Title = "WeatherOrNot";
}

<h1 id="fade">Weather</h1>
@*REMEMBER KNOCKOUT ALWAYS REQUIRES A NAME VALUE PAIR   
    ex:
    data-bind = "name:value"
    *@ 

<div class="col-md-12">
    <h1>Current Conditions in <span data-bind="text:name"></span></h1>
</div>

<div class="col-md-12">
    Temperature is <span data-bind="text:main.temp"></span>&deg; F
</div>

<button>What's the weather like?</button>


<script>

    //JSON ... Javascript Object Notation OBJECT

    var weather = Object();
    $(document).ready(function () {
        $("button").click(function () {

            $.get("@Url.Action("GetWeather","Home")", function (response) {
                //response
                console.log(response);
                //KNOCKOUT MAPING
                weather = ko.mapping.fromJS(response);
                ko.applyBindings(weather);
            });
        });
    });



</script>

