<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
     
    <div class="bg-primary rounded border border-danger  center-block p-4">
        <hgroup>
            <h1 >Uh-Oh!</h1>
            <h2 >An error occurred while processing your request. Please return to the home page, and try again.</h2>

        </hgroup>
        <br />  <br />
        <h3>Some reasons you might have be receiving this error:</h3>
        <p>
            A field was left blank.<br />
            The amount of speeding tickes you declared was a negative number. <br />
        </p>
        
        <button type="button" class="btn btn-danger btn-block"  onclick="window.location='Index'">
            Return to Quote Generator
            </button>

    </div>
</body>
</html>
