@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center bg-primary">
    <h1>Uh-Oh Insurance</h1>
    <p class="lead">Get your free quote today.</p>
    <p><a href="Insuree/Create" class="btn btn-danger btn-lg">Get My Quote &raquo;</a></p>
</div>

